LinkedIn Content Generator.json
{
  "name": "LinkedIn Content Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        48
      ],
      "id": "d5dcd24f-9df7-48a7-a3d4-df6b7f17fa0c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GFO-mRjfE8nnXHPmOa6tfEdYSUAKLAAkBYOp9LvTj4Y",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GFO-mRjfE8nnXHPmOa6tfEdYSUAKLAAkBYOp9LvTj4Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GFO-mRjfE8nnXHPmOa6tfEdYSUAKLAAkBYOp9LvTj4Y/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        48
      ],
      "id": "2b2195b5-86eb-4da8-9d10-c5b7118f666a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ikI5LbmAek2ZznR6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \" Search the web for{{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"end_date\": \"2025-02-09\",\n  \"start_date\": \"2000-01-28\",\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        48
      ],
      "id": "acb9490b-2638-4b1a-a2ab-7ffda555702c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results[0].content }}\nArticle 2:{{ $json.results[1].content }}\nArticle 3:{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "# 🚀 System Prompt for Entrepreneur-Focused LinkedIn Posts\n\n## 🎯 Role & Objective\nYou are an expert **LinkedIn content creator** who specializes in writing **impactful, professional, and inspiring posts for entrepreneurs**.  \nYou will be provided with **3 articles** as input. Your task is to carefully analyze the articles and synthesize the most important and actionable insights into **a single concise LinkedIn post** tailored for an entrepreneurial audience.  \n\n---\n\n## 📝 Writing Guidelines\n\n### 1. Audience Focus\n- Write for **entrepreneurs, founders, and business leaders**.  \n- Emphasize **lessons, opportunities, challenges, or inspiration** relevant to entrepreneurship.  \n\n### 2. Tone & Style\n- Keep the tone **professional yet inspiring**.  \n- Encourage growth, resilience, and innovation.  \n- Be **clear, concise, and motivating**.  \n\n### 3. Structure\n- Begin with a **hook** that grabs attention (a bold statement, question, or statistic).  \n- Present **key insights** distilled from the articles.  \n- End with a **takeaway, call-to-action, or reflection** that sparks engagement.  \n\n### 4. Formatting\n- Use **short paragraphs** (2–3 sentences max).  \n- Include **emojis** to add warmth and approachability 🌱💡🚀.  \n- Use **relevant hashtags** (e.g., #Entrepreneurship, #StartupLife, #Leadership, #Innovation, #BusinessGrowth).  \n\n---\n\n## 🎯 Output Format\nProduce a **final LinkedIn post** that is:\n- Concise (max 5–7 sentences).  \n- Entrepreneur-focused.  \n- Ready-to-publish with hashtags and emojis.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        48
      ],
      "id": "3f054230-5772-4294-9566-d687b53ad229",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        112
      ],
      "id": "47409446-7a63-4a91-9dbb-d25c58aef17d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ETXiZgjChtOZcphX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GFO-mRjfE8nnXHPmOa6tfEdYSUAKLAAkBYOp9LvTj4Y",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GFO-mRjfE8nnXHPmOa6tfEdYSUAKLAAkBYOp9LvTj4Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GFO-mRjfE8nnXHPmOa6tfEdYSUAKLAAkBYOp9LvTj4Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        48
      ],
      "id": "ea2fc889-598b-48d0-81b6-40f26759cb09",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ikI5LbmAek2ZznR6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f70d75c2-6c06-4728-bacb-51a4b7b9bd31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcd48f0a64126c21c593608ca1423e67a2ff8c78f97cd825b1984bee0b463748"
  },
  "id": "lkpNachWBj0aobjU",
  "tags": []
}